.block-container,
.css-1544g2n {
    padding-top: 30px
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}

.stButton button,
.stButton button:focus:not(:active) {
    background-color: black;
    color: white;
    border-radius: 0px;
}

.stButton button:hover {
    background-color: white;
    color: black;
    border-radius: 0px;
}

.stTextInput>div {
    border-radius: 0px;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
[class*="css"] {
    font-family: 'Roboto', monospace;
}